<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola Mundo Vue JS</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>

        <ul v-for="color of colores">
            <li>{{color.nombre}}</li>
            <span v-if="color.cantidad === 0">Sin Stock</span>
        </ul>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>